name: Build Woff2 Decompress utility
# This workflow allows to build woff2_decompress and embed it in source code.
# Doing so ensures this library is easy to use for production, but also to contribute on.
# 
# This workflow checks for any change in woff2_decompress binaries to prevent push of same binaries
# over and over. When a new version of woff2 is released, you mean to manually launch this action.
# This behavior is intended, to prevent security risks such as supply chain attack on woff2 repository.
on:
  workflow_dispatch:

env:
  CMAKEVER: 3.15
  CONFIG: Release
  VERSIONFILE: deps/VERSION

jobs:
  check-versions:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.check.outputs.changed }}
    steps:
      - uses: actions/checkout@v6

      # Pull woff2 repository into a "tmp" folder
      - name: Pull woff2 repository
        uses: actions/checkout@v6
        with:
          repository: google/woff2
          submodules: true
          fetch-depth: 0
          path: tmp

      - name: Check versions
        id: check
        run: |
          # Paths
          mkdir -p deps

          # Current commits
          WOFF2_COMMIT=$(git rev-parse HEAD)
          BROTLI_COMMIT=$(git -C tmp/brotli rev-parse HEAD || git -C tmp/brotli rev-parse HEAD)

          # Read previous commits if file exists
          PREV_WOFF2=""
          PREV_BROTLI=""
          if [ -f "${{ env.VERSIONFILE }}" ]; then
            PREV_WOFF2=$(grep '^woff2:' "${{ env.VERSIONFILE }}" | cut -d' ' -f2)
            PREV_BROTLI=$(grep '^brotli:' "${{ env.VERSIONFILE }}" | cut -d' ' -f2)
          fi

          echo "Current WOFF2 commit: $WOFF2_COMMIT"
          echo "Current BROTLI commit: $BROTLI_COMMIT"
          echo "Previous WOFF2 commit: $PREV_WOFF2"
          echo "Previous BROTLI commit: $PREV_BROTLI"

          # Compare
          if [ "$WOFF2_COMMIT" = "$PREV_WOFF2" ] && [ "$BROTLI_COMMIT" = "$PREV_BROTLI" ]; then
            echo "No source changes detected. Skipping builds."
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "Sources changed. Build required."
            echo "changed=true" >> $GITHUB_OUTPUT

            # Update VERSIONFILE for next runs
            echo "woff2: $WOFF2_COMMIT" > "${{ env.VERSIONFILE }}"
            echo "brotli: $BROTLI_COMMIT" >> "${{ env.VERSIONFILE }}"
          fi
      # Upload artifacts. These artifacts will be used later, in collect-and-push action.
      - name: Upload VERSIONFILE artifact
        uses: actions/upload-artifact@v4
        if: steps.check.outputs.changed == 'true'
        with:
          name: VERSION
          path: ${{ env.VERSIONFILE }}
  
  # Build woff2_decompress on Windows (amd64 and i386) and push them as artifacts
  build-windows:
    runs-on: windows-latest
    needs: check-versions
    if: needs.check-versions.outputs.changed == 'true'

    strategy:
      matrix:
        include:
          - arch: amd64
            msvc_arch: x64
            devcmd_arch: x64

          - arch: i386
            msvc_arch: Win32
            devcmd_arch: x86

    defaults:
      run:
        shell: bash
    steps:
      # Checkouts this repository
      - uses: actions/checkout@v6

      # Pull woff2 repository into a "tmp" folder
      - name: Pull woff2 repository
        uses: actions/checkout@v6
        with:
          repository: google/woff2
          submodules: true
          path: tmp

      # Configures brotli build with CMake, with msvc_arch defined by above matrix
      - name: Configures build for brotli
        working-directory: tmp/brotli
        run: |
          cmake -S . -B build-${{ matrix.arch }} -A ${{ matrix.msvc_arch }} \
            -DCMAKE_POLICY_VERSION_MINIMUM=${{ env.CMAKEVER }} \

      # Builds brotli based on previous step, and CONFIG defined in environment section
      - name: Build brotli
        working-directory: tmp/brotli
        run: cmake --build build-${{ matrix.arch }} --config ${{ env.CONFIG }}

      # Configures woff2 build with CMake, with msvc_arch defined by above matrix
      # This configuration needs some flags: include brotli, define Windows runtime
      - name: Configures build for woff2
        working-directory: tmp
        run: |
          cmake -S . -B build-${{ matrix.arch }} -A ${{ matrix.msvc_arch }} \
            -DCMAKE_POLICY_VERSION_MINIMUM=$CMAKEVER \
            -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE \
            -DBUILD_SHARED_LIBS=FALSE \
            -DBROTLIDEC_INCLUDE_DIRS="brotli/c/include" \
            -DBROTLIDEC_LIBRARIES="brotli/build-${{ matrix.arch }}/${{ env.CONFIG }}/brotlidec.lib" \
            -DBROTLIENC_INCLUDE_DIRS="brotli/c/include" \
            -DBROTLIENC_LIBRARIES="brotli/build-${{ matrix.arch }}/${{ env.CONFIG }}/brotlienc.lib" \

      # Builds woff2 based on previous step, and CONFIG defined in environment section
      - name: Build woff2
        working-directory: tmp
        run: cmake --build build-${{ matrix.arch }} --config ${{ env.CONFIG }}

      # Upload artifacts. These artifacts will be used later, in collect-and-push action.
      - name: Upload exe artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-${{ matrix.arch }}
          path: tmp/build-${{ matrix.arch }}/${{ env.CONFIG }}/woff2_decompress.exe

  # Gather artifacts, compare them to current version. If any change is detected, creates a new version
  # of this library.
  collect-and-push:
    runs-on: ubuntu-latest
    if: needs.check-versions.outputs.changed == 'true'
    needs:
      - build-windows

    steps:
      - uses: actions/checkout@v6

      # Artifacts are stored in "deps" folder
      - name: Download artifacts in deps folder
        uses: actions/download-artifact@v7
        with:
          path: deps

      - name: Bump version in composer.json
        id: bump_version
        run: |
          # String manipulation to bump version in composer.json file
          CURRENT=$(jq -r '.version' composer.json)
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT"
          NEW_MINOR=$((MINOR+1))
          NEW_VERSION="$MAJOR.$NEW_MINOR.0"
          jq --arg ver "$NEW_VERSION" '.version=$ver' composer.json > composer.json.tmp
          mv composer.json.tmp composer.json
          echo "Bumped version to $NEW_VERSION"

          # GitHub variables, used in next step
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      # Commit and push only if necessary. "if" directive ensures this step only triggers
      # when at least one binary actually changed
      - name: Commit & push executables
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add composer.json deps/* ${{ env.VERSIONFILE }}
          git commit -m "Bump version to ${{ steps.bump_version.outputs.new_version }} and add built executables" || echo "No changes"
          git tag "v${{ steps.bump_version.outputs.new_version }}" -a -m "Release v${{ steps.bump_version.outputs.new_version }}"
          git push
          git push origin "v${{ steps.bump_version.outputs.new_version }}"