name: Build Woff2 Decompress utility
on:
  workflow_dispatch:

env:
  CMAKEVER: 3.15
  CONFIG: Release

jobs:
  build-windows:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - arch: amd64
            msvc_arch: x64
            devcmd_arch: x64

          - arch: i386
            msvc_arch: Win32
            devcmd_arch: x86

    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - name: Pull woff2 repository
        uses: actions/checkout@v6
        with:
          repository: google/woff2
          submodules: true
          path: tmp

      - name: Configures build for brotli
        working-directory: tmp/brotli
        run: |
          cmake -S . -B build-${{ matrix.arch }} -A ${{ matrix.msvc_arch }} \
            -DCMAKE_POLICY_VERSION_MINIMUM=${{ env.CMAKEVER }}

      - name: Build brotli
        working-directory: tmp/brotli
        run: cmake --build build-${{ matrix.arch }} --config ${{ env.CONFIG }}

      - name: Configures build for woff2
        working-directory: tmp
        run: |
          cmake -S . -B build-${{ matrix.arch }} -A ${{ matrix.msvc_arch }} \
            -DCMAKE_POLICY_VERSION_MINIMUM=$CMAKEVER \
            -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE \
            -DBUILD_SHARED_LIBS=FALSE \
            -DBROTLIDEC_INCLUDE_DIRS="brotli/c/include" \
            -DBROTLIDEC_LIBRARIES="brotli/build-${{ matrix.arch }}/${{ env.CONFIG }}/brotlidec.lib" \
            -DBROTLIENC_INCLUDE_DIRS="brotli/c/include" \
            -DBROTLIENC_LIBRARIES="brotli/build-${{ matrix.arch }}/${{ env.CONFIG }}/brotlienc.lib"

      - name: Build woff2
        working-directory: tmp
        run: cmake --build build-${{ matrix.arch }} --config ${{ env.CONFIG }}

      - name: Upload exe artifact
        uses: actions/upload-artifact@v4
        working-directory: tmp
        with:
          name: windows-${{ matrix.arch }}
          path: build-${{ matrix.arch }}/${{ env.CONFIG }}/woff2_decompress.exe

  collect-and-push:
    runs-on: ubuntu-latest
    needs:
      - build-windows
    steps:
      - uses: actions/checkout@v6

      - name: Download artifacts in a temporary folder
        uses: actions/download-artifact@v7
        with:
          path: deps_new

      - name: Bump version in composer.json
        id: bump_version
        run: |
          CHANGED=false
          for exe in deps_new/*.exe; do
            target="deps/${exe#deps_new/}"
            if [ ! -f "$target" ] || ! cmp -s "$exe" "$target"; then
              CHANGED=true
              cp "$exe" "$target"
            fi
          done

          if [ "$CHANGED" = false ]; then
            echo "No changes in executables."
            echo "bumped=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          CURRENT=$(jq -r '.version' composer.json)
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT"
          NEW_MINOR=$((MINOR+1))
          NEW_VERSION="$MAJOR.$NEW_MINOR.0"
          jq --arg ver "$NEW_VERSION" '.version=$ver' composer.json > composer.json.tmp
          mv composer.json.tmp composer.json
          echo "Bumped version to $NEW_VERSION"

          echo "bumped=true" >> $GITHUB_OUTPUT
          echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Commit & push executables
        if: steps.bump_version.outputs.bumped == 'true'
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add composer.json deps/*
          git commit -m "Bump version to ${{ steps.bump_version.outputs.new_version }} and add built executables" || echo "No changes"
          git tag "v${{ steps.bump_version.outputs.new_version }}" -a -m "Release v${{ steps.bump_version.outputs.new_version }}"
          git push
          git push origin "v${{ steps.bump_version.outputs.new_version }}"